#root {
  max-width: auto;
  margin: 0 auto;
  padding:0;
  text-align: center;
}

h2 {
  font-size: 300px;
  text-align: center;
}
.coinContainer{
  border: 2px ;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}