

#root {
  max-width: auto;
  margin: 0 auto;
  padding:0;
  text-align: center;
}

h2 {
  font-size: 300px;
  text-align: center;
}
.coinContainer{
  background: white;
  padding: 20px;
  border-radius: 20px;
  
}
.Container{
  display: flex;
  justify-content: center;
  height: 100%; /* full layer height */
  width: 100%;
  position: relative;
  bottom: 11%;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hoverText {
  transition:
    0.35s font-weight,
    0.35s color;
}

.hoverText:hover {
  font-weight: 900;
  color: rgb(238, 242, 255);
}

/* To the right */
.hoverText:hover + .hoverText {
  font-weight: 500;
  color: rgb(199, 210, 254);
}

.hoverText:hover + .hoverText + .hoverText {
  font-weight: 300;
}

/* To the left */
.hoverText:has(+ .hoverText:hover) {
  font-weight: 500;
  color: rgb(199, 210, 254);
}

.hoverText:has(+ .hoverText + .hoverText:hover) {
  font-weight: 300;
}