

#root {
  max-width: auto;
  margin: 0 auto;
  padding:0;
  text-align: center;
}

h2 {
  font-size: 300px;
  text-align: center;
}
.coinContainer{
  background: white;
  padding: 20px;
  border-radius: 20px;
  
}
.Container{
  display: flex;
  justify-content: center;
  height: 100%; /* full layer height */
  width: 100%;
  position: relative;
  bottom: 11%;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}